In [1]:
import pandas as pd

# Prepare data S&P 500 ESG

In [2]:
sp_500_esg = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/SP500ESG/sp500_comp_incl_esg_scores.csv").drop(columns="Unnamed: 0")
sp_500_esg_scores = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/ESG_Scores/sp500esg_esg_scores_normalized_with_permno.csv").drop(columns="Unnamed: 0")
sp_500_esg_index_composition = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/SP500ESG/results/mktcap_index_compositions.csv").rename(columns={"Unnamed: 0": "date"})

/var/folders/_0/g08w2m052w15pxnz_l6xqngm0000gn/T/ipykernel_20303/2896726279.py:1: DtypeWarning: Columns (3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  sp_500_esg = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/SP500ESG/sp500_comp_incl_esg_scores.csv").drop(columns="Unnamed: 0")

In [3]:
sp_500_esg_index_composition

,date,14593,18163,22111,59408,47896,38703,21936,10104,27828,...,19285,19286,13323,20057,89301,13963,36397,25487,22976,17676
0,2010-03-31,0.030558,0.026338,0.025506,0.025379,0.025229,0.022758,0.019841,0.018259,0.017859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-03-31,0.040343,0.021721,0.020326,0.017036,0.023156,0.021037,0.020349,0.020930,0.011239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-03-30,0.068621,0.022274,0.021712,0.012343,0.020943,0.021599,0.020397,0.017592,0.005607,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-03-28,0.045884,0.022752,0.024554,0.014303,0.019762,0.021067,0.022254,0.016267,0.004977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-03-31,0.041479,0.019389,0.024714,0.016089,0.020385,0.023253,0.018244,0.015956,0.005465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015-03-31,0.057946,0.017586,0.022228,0.012853,0.017892,0.022215,0.016887,0.015017,0.004542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-03-31,0.049686,0.018511,0.024893,0.011522,0.018141,0.020445,0.015367,0.014248,0.001758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-03-31,0.054561,0.016661,0.024440,0.017290,0.023018,0.020383,0.014772,0.013244,0.002156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-03-29,0.055607,0.013084,0.022509,0.019819,0.024400,0.016575,0.013833,0.012257,0.002338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019-03-29,0.055865,0.016262,0.023219,0.016572,0.020701,0.014021,0.014740,0.011984,0.001829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-03-31,0.073273,0.018886,0.023306,0.012794,0.019114,0.008158,0.012053,0.010743,0.001724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-03-31,0.084929,0.014159,0.018413,0.014289,0.020011,0.006913,0.008550,0.008817,0.001670,...,0.001563,0.001284,0.000857,0.000725,0.000576,0.000427,0.000405,NaN,NaN,NaN
12,2022-03-31,0.107040,0.013749,0.017542,0.012891,0.015417,0.007234,0.010955,0.008270,0.001562,...,0.001512,0.001228,0.000986,0.000494,0.000473,NaN,0.000467,0.000491,NaN,NaN
13,2023-03-31,0.111524,0.015102,0.017347,0.009834,0.016452,0.006157,0.009840,0.010595,0.001232,...,0.001633,0.001497,0.001221,0.000497,NaN,NaN,0.000406,0.000324,0.00157,0.000305

In [4]:
sp_500_esg_scores

,ticker,year,analysis_timestamp,text_hash,ticker_years,permno,environmental_normalized,social_normalized,governance_normalized,esg_normalized
0,21C,2009,2024-05-19 10:05:10.924960,c6c1501770298e9f26d9670997bb5456040a41a539ec04...,21C_2009,90441,0.009451,0.007583,0.144098,0.046644
1,21C,2010,2024-05-19 10:08:15.166698,83cc3e74595947aa42893057c29f4637ad13191d586bf4...,21C_2010,90441,0.004246,0.003974,0.147701,0.042153
2,21C,2011,2024-05-19 10:11:32.237642,eac93509a71c28ff2754c0b3d4be3e3c26a37edf393ad7...,21C_2011,90441,0.005261,0.002462,0.174686,0.048572
3,21C,2012,2024-05-19 10:14:55.024970,a799e094f6d514cc38b7e762db105be0729acaa5ab67f8...,21C_2012,90441,0.005134,0.006007,0.161331,0.047398
4,21C,2013,2024-05-19 10:18:13.914954,e7700bfe09398493f78e52edf1ddbc6d6810b876091191...,21C_2013,90441,0.006672,0.002498,0.158242,0.045306
...,...,...,...,...,...,...,...,...,...,...
7656,ZTS,2019,2024-04-08 20:51:57.585591,92040795118f658b219746f8661ff2c5a1fbc74316b9fc...,ZTS_2019,13788,0.131757,0.034532,0.158333,0.140222
7657,ZTS,2020,2024-04-08 21:06:30.153159,fa0eff1a067f98d73f5dffde21f7b65419e9999fe5361a...,ZTS_2020,13788,0.138154,0.034816,0.155434,0.143485
7658,ZTS,2021,2024-04-08 21:14:41.421702,d9139f2832f60f7f311290cc9d08df46c28e33580b2314...,ZTS_2021,13788,0.159255,0.080268,0.145276,0.182426
7659,ZTS,2022,2024-04-08 21:22:27.348887,a7b98d7c14cba964cd871ad51625c7ff91385540a9eada...,ZTS_2022,13788,0.194455,0.089258,0.159648,0.212724
7660,ZTS,2023,2024-04-08 21:29:49.357877,c5979d0053eb1cc20f701849a7b7ebd4b5484056951e84...,ZTS_2023,13788,0.195040,0.098585,0.185037,0.225385

In [5]:
sp_500_esg

,permno,date,cusip,ret,prc,shrout,mktcap,ticker,industry exposure,company name,year,environmental_normalized,social_normalized,governance_normalized,esg_normalized
0,10104,2009-01-02,68389X10,0.038353,18.41000,5046177.0,NaN,ORCL,0,ORACLE CORP,2009,0.003641,0.005112,0.164078,0.046629
1,10104,2009-01-05,68389X10,-0.017382,18.09000,5046177.0,92900.118570,ORCL,0,ORACLE CORP,2009,0.003641,0.005112,0.164078,0.046629
2,10104,2009-01-06,68389X10,0.016584,18.39000,5046177.0,91285.341930,ORCL,0,ORACLE CORP,2009,0.003641,0.005112,0.164078,0.046629
3,10104,2009-01-07,68389X10,-0.040239,17.65000,5046177.0,92799.195030,ORCL,0,ORACLE CORP,2009,0.003641,0.005112,0.164078,0.046629
4,10104,2009-01-08,68389X10,-0.001700,17.62000,5046177.0,89065.024050,ORCL,0,ORACLE CORP,2009,0.003641,0.005112,0.164078,0.046629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2626316,93436,2023-12-22,88160R10,-0.007701,252.53999,3178921.0,809035.394500,TSLA,0,TESLA MOTORS INC,2023,0.473348,0.068457,0.207189,0.377553
2626317,93436,2023-12-26,88160R10,0.016116,256.60999,3178921.0,802804.677551,TSLA,0,TESLA MOTORS INC,2023,0.473348,0.068457,0.207189,0.377553
2626318,93436,2023-12-27,88160R10,0.018822,261.44000,3178921.0,815742.886021,TSLA,0,TESLA MOTORS INC,2023,0.473348,0.068457,0.207189,0.377553
2626319,93436,2023-12-28,88160R10,-0.031594,253.17999,3178921.0,831097.106240,TSLA,0,TESLA MOTORS INC,2023,0.473348,0.068457,0.207189,0.377553
2626320,93436,2023-12-29,88160R10,-0.018564,248.48000,3178921.0,804839.186991,TSLA,0,TESLA MOTORS INC,2023,0.473348,0.068457,0.207189,0.377553

# Check for duplicates in tickers

In [6]:
data_unique = sp_500_esg[['ticker', 'permno']].drop_duplicates()
ticker_counts = data_unique['ticker'].value_counts()
ticker_counts[ticker_counts == 2]

ticker
NWSA    2
UA      2
GOOG    2
Name: count, dtype: int64

### The duplicates in the tickers are acceptable as they result from stock splits. The stock splits are accounted for by market capitalization in index construction. Therefore, the duplicates are intentional.

# Add permno to esg scores for unique company identification

# Check for missing reports on rebalancing day

In [7]:
sp_500_esg_index_composition['year'] = pd.to_datetime(sp_500_esg_index_composition['date']).dt.year
sp_500_esg_index_composition

,date,14593,18163,22111,59408,47896,38703,21936,10104,27828,...,19286,13323,20057,89301,13963,36397,25487,22976,17676,year
0,2010-03-31,0.030558,0.026338,0.025506,0.025379,0.025229,0.022758,0.019841,0.018259,0.017859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
1,2011-03-31,0.040343,0.021721,0.020326,0.017036,0.023156,0.021037,0.020349,0.020930,0.011239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
2,2012-03-30,0.068621,0.022274,0.021712,0.012343,0.020943,0.021599,0.020397,0.017592,0.005607,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
3,2013-03-28,0.045884,0.022752,0.024554,0.014303,0.019762,0.021067,0.022254,0.016267,0.004977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4,2014-03-31,0.041479,0.019389,0.024714,0.016089,0.020385,0.023253,0.018244,0.015956,0.005465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
5,2015-03-31,0.057946,0.017586,0.022228,0.012853,0.017892,0.022215,0.016887,0.015017,0.004542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
6,2016-03-31,0.049686,0.018511,0.024893,0.011522,0.018141,0.020445,0.015367,0.014248,0.001758,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
7,2017-03-31,0.054561,0.016661,0.024440,0.017290,0.023018,0.020383,0.014772,0.013244,0.002156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
8,2018-03-29,0.055607,0.013084,0.022509,0.019819,0.024400,0.016575,0.013833,0.012257,0.002338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
9,2019-03-29,0.055865,0.016262,0.023219,0.016572,0.020701,0.014021,0.014740,0.011984,0.001829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
10,2020-03-31,0.073273,0.018886,0.023306,0.012794,0.019114,0.008158,0.012053,0.010743,0.001724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
11,2021-03-31,0.084929,0.014159,0.018413,0.014289,0.020011,0.006913,0.008550,0.008817,0.001670,...,0.001284,0.000857,0.000725,0.000576,0.000427,0.000405,NaN,NaN,NaN,2021
12,2022-03-31,0.107040,0.013749,0.017542,0.012891,0.015417,0.007234,0.010955,0.008270,0.001562,...,0.001228,0.000986,0.000494,0.000473,NaN,0.000467,0.000491,NaN,NaN,2022
13,2023-03-31,0.111524,0.015102,0.017347,0.009834,0.016452,0.006157,0.009840,0.010595,0.001232,...,0.001497,0.001221,0.000497,NaN,NaN,0.000406,0.000324,0.00157,0.000305,2023

In [8]:
results = pd.DataFrame()
# Loop through each column (permno) in index_composition (ignoring the 'date' and 'year' columns)
for permno in sp_500_esg_index_composition.columns.drop(['date', 'year']):
    # Check if each permno has non-NaN values
    for index, row in sp_500_esg_index_composition.iterrows():
        if pd.notna(row[permno]):
            year = row['year']
            # Filter esg_scores for the current permno and year
            esg_sub = sp_500_esg_scores[(sp_500_esg_scores['permno'] == int(permno)) & (sp_500_esg_scores['year'] == int(year))]
            # Check if there are any ESG scores for the filtered subset
            if not esg_sub.empty:
                # If no scores exist, append the check but indicate no scores
                result = pd.DataFrame({
                    'permno': permno,
                    'date': row['date'],
                    'year checked': year,
                    'has scores': True
                }, index=[0])
                results= pd.concat([results, result], axis=0)
            else:
                result = pd.DataFrame({
                    'permno': permno,
                    'date': row['date'],
                    'year checked': year,
                    'has scores': False
                }, index=[0])
                results= pd.concat([results, result], axis=0)

In [9]:
print(f"Number of needed annual reports over the reconstruction period: {sp_500_esg_index_composition.drop(columns=['date', 'year']).notna().sum().sum()}")
print(f"Number of companies that have annual report available when they are part of the index: {results['has scores'].sum()}")
print(f"Missing Reports: {sp_500_esg_index_composition.drop(columns=['date', 'year']).notna().sum().sum() - results['has scores'].sum()}")

Number of needed annual reports over the reconstruction period: 5146
Number of companies that have annual report available when they are part of the index: 5146
Missing Reports: 0

# Check which companies have missing reports

In [10]:
missing_anual_reports = results[results["has scores"]==False]
missing_anual_reports["permno"] = missing_anual_reports.loc[:, "permno"].astype(int)
df = sp_500_esg[["permno", "company name"]].drop_duplicates()
missing_anual_reports = missing_anual_reports.merge(df, on="permno", how="left")
missing_anual_reports

Empty DataFrame
Columns: [permno, date, year checked, has scores, company name]
Index: []

In [11]:
missing_anual_reports.drop_duplicates(subset="company name").reset_index(drop=True)

Empty DataFrame
Columns: [permno, date, year checked, has scores, company name]
Index: []

# Prepare data DAX 50 ESG

In [12]:
dax_50_esg = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/DAX50ESG/data_dax.csv").drop(columns="Unnamed: 0")
dax_50_esg_scores = pd.read_csv(r"/Users/timmuller/Documents/Uni/Master/Thesis/ESG_Scores/dax50esg_scores_normalized.csv").drop(columns="Unnamed: 0")
dax_50_esg_index_composition = pd.read_csv(r"/Users/timmuller/Downloads/dax_index_composition.csv").rename(columns={"Unnamed: 0": "date"})

In [13]:
dax_50_esg

,date,isin,market capitalization in milion,price,conm,industry exposure
0,2012-01-02,DE0005545503,386.5776,4.943,1&1 AG,N.S.
1,2012-01-03,DE0005545503,388.9180,4.973,1&1 AG,N.S.
2,2012-01-04,DE0005545503,378.8121,4.844,1&1 AG,N.S.
3,2012-01-05,DE0005545503,374.3974,4.788,1&1 AG,N.S.
4,2012-01-06,DE0005545503,374.0782,4.784,1&1 AG,N.S.
...,...,...,...,...,...,...
501925,2023-12-21,DE0005111702,1551.3716,217.000,ZOOPLUS SE,N.S.
501926,2023-12-22,DE0005111702,1547.7970,216.500,ZOOPLUS SE,N.S.
501927,2023-12-27,DE0005111702,1572.8192,220.000,ZOOPLUS SE,N.S.
501928,2023-12-28,DE0005111702,1544.2224,216.000,ZOOPLUS SE,N.S.
501929,2023-12-29,DE0005111702,1544.2224,216.000,ZOOPLUS SE,N.S.

In [14]:
dax_50_esg_scores

,isin,year,isin_years,text_hash,environmental_normalized,social_normalized,governance_normalized,esg_normalized
0,DE0005089031,2012,DE0005089031_2012,f09f84f4b8c04d5f351b007b76e518e387acff18c7c69e...,0.013952,0.059772,0.319706,0.113207
1,DE0005089031,2013,DE0005089031_2013,4c93400837ef6e9f45a5fbb6c80aff1b6219299ef1105d...,0.037698,0.110962,0.289936,0.138404
2,DE0005089031,2014,DE0005089031_2014,2aac33d55a198b1a62fc04a0af631c78d6c522d06bf4d2...,0.033434,0.113561,0.303859,0.140944
3,DE0005089031,2015,DE0005089031_2015,aeddd34be2a5bc171325e9964c1dc9082025d67954de09...,0.027728,0.123305,0.268154,0.131133
4,DE0005089031,2016,DE0005089031_2016,8c3ea46820ed31d14859dd4c8e4d2507a0d358e63239cb...,0.030327,0.154578,0.270193,0.145419
...,...,...,...,...,...,...,...,...
953,US7434762024,2019,US7434762024_2019,806942c8ffc896f5a8ef226d9a5fa1de28799ad0eb3a59...,0.036542,0.214402,0.439594,0.221146
954,US7434762024,2020,US7434762024_2020,79dfafd48a7015995fecde5798afde730deaebcd89ae8c...,0.183788,0.326829,0.496723,0.367148
955,US7434762024,2021,US7434762024_2021,f96f73e6754b5a0f5db17f25d8166a46d53361d8e68ca5...,0.189605,0.328082,0.526261,0.379533
956,US7434762024,2022,US7434762024_2022,8ab31177233b0108e78f73c5eda8840843c07a4bf7552a...,0.239852,0.415922,0.548599,0.449451
957,US7434762024,2023,US7434762024_2023,736827836c23ca2b023428e11986ba80070db67a8171b4...,0.269002,0.468933,0.603173,0.502801

In [15]:
dax_50_esg_index_composition.head()

,date,DE0007236101,DE0007164600,DE0007664039,DE000BASF111,DE000BAY0017,DE0005557508,DE0008404005,DE0007100000,DE0005140008,...,DE000A2YN900,DE0007251803,DE000A12DM80,DE000A161408,DE0005158703,DE000A3H3LL2,DE000A2LQ884,DE0005664809,DE000PAG9113,DE0005470306
0,2012-09-21,0.07,0.070000,0.07,0.070000,0.07,0.055966,0.055955,0.055258,0.039724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-12-21,0.07,0.070000,0.07,0.070000,0.07,0.045881,0.058921,0.054545,0.037669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-03-22,0.07,0.070000,0.07,0.070000,0.07,0.042129,0.057014,0.053988,0.034762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-06-21,0.07,0.070000,0.07,0.070000,0.07,0.043615,0.054662,0.052499,0.038273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-09-20,0.07,0.068834,0.07,0.067072,0.07,0.046825,0.054251,0.062750,0.036683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Check for duplicates in tickers

In [16]:
dax_50_esg_index_composition['year'] = pd.to_datetime(dax_50_esg_index_composition['date']).dt.year
dax_50_esg_index_composition

,date,DE0007236101,DE0007164600,DE0007664039,DE000BASF111,DE000BAY0017,DE0005557508,DE0008404005,DE0007100000,DE0005140008,...,DE0007251803,DE000A12DM80,DE000A161408,DE0005158703,DE000A3H3LL2,DE000A2LQ884,DE0005664809,DE000PAG9113,DE0005470306,year
0,2012-09-21,0.070000,0.070000,0.070000,0.070000,0.070000,0.055966,0.055955,0.055258,0.039724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
1,2012-12-21,0.070000,0.070000,0.070000,0.070000,0.070000,0.045881,0.058921,0.054545,0.037669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
2,2013-03-22,0.070000,0.070000,0.070000,0.070000,0.070000,0.042129,0.057014,0.053988,0.034762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,2013-06-21,0.070000,0.070000,0.070000,0.070000,0.070000,0.043615,0.054662,0.052499,0.038273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
4,2013-09-20,0.070000,0.068834,0.070000,0.067072,0.070000,0.046825,0.054251,0.062750,0.036683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
5,2013-12-20,0.070000,0.069791,0.070000,0.064582,0.070000,0.050853,0.054138,0.060853,0.032087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
6,2014-03-21,0.070000,0.065140,0.070000,0.067407,0.070000,0.048077,0.051752,0.066058,0.030881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
7,2014-06-20,0.070000,0.063426,0.070000,0.070000,0.070000,0.052189,0.050742,0.067752,0.033723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
8,2014-09-19,0.070000,0.065293,0.070000,0.065451,0.070000,0.050435,0.058223,0.062784,0.035706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
9,2014-12-19,0.070000,0.063128,0.070000,0.056876,0.070000,0.053764,0.056310,0.065820,0.030955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
10,2015-03-20,0.064039,0.059666,0.070000,0.061059,0.070000,0.055619,0.053310,0.070000,0.031347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
11,2015-06-19,0.064701,0.061717,0.070000,0.058396,0.070000,0.054598,0.050427,0.068734,0.028950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
12,2015-09-18,0.060857,0.059833,0.064909,0.052459,0.070000,0.061138,0.053147,0.065677,0.029390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
13,2015-12-18,0.061682,0.069823,0.053480,0.050600,0.070000,0.059677,0.058369,0.064549,0.023431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
14,2016-03-18,0.066266,0.070000,0.052202,0.051124,0.069239,0.061310,0.055691,0.060476,0.019881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
15,2016-06-17,0.069707,0.070000,0.055766,0.055308,0.064721,0.058223,0.052951,0.053181,0.016845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
16,2016-09-23,0.070000,0.070000,0.050966,0.054758,0.061501,0.057860,0.050613,0.055120,0.012734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
17,2016-12-23,0.070000,0.070000,0.052747,0.060549,0.061300,0.056653,0.054056,0.057175,0.018511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
18,2017-03-24,0.070000,0.070000,0.049831,0.059754,0.063712,0.054422,0.055698,0.054475,0.017345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
19,2017-06-23,0.070000,0.070000,0.047147,0.054121,0.069911,0.053957,0.055091,0.048373,0.021353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
20,2017-09-22,0.068880,0.070000,0.049163,0.056390,0.063198,0.051172,0.057651,0.049466,0.019921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
21,2017-12-22,0.065878,0.070000,0.056091,0.056626,0.057505,0.047077,0.056572,0.050591,0.022270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
22,2018-03-23,0.060284,0.070000,0.054036,0.052101,0.052110,0.043262,0.055802,0.049372,0.016245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
23,2018-06-22,0.067457,0.070000,0.051012,0.052388,0.063219,0.044013,0.051688,0.042261,0.013378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
24,2018-09-21,0.064670,0.070000,0.053042,0.051582,0.049312,0.045587,0.056302,0.042641,0.014991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
25,2018-12-21,0.066725,0.070000,0.057284,0.044476,0.045578,0.057123,0.059274,0.040013,0.011525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
26,2019-03-22,0.060342,0.070000,0.052839,0.044734,0.040952,0.055578,0.061956,0.040329,0.011206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
27,2019-06-21,0.066473,0.070000,0.055201,0.042524,0.037798,0.054210,0.066737,0.039029,0.009668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
28,2019-09-20,0.060211,0.070000,0.058152,0.042311,0.045285,0.052884,0.065029,0.036554,0.010862,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
29,2019-12-20,0.067450,0.070000,0.059240,0.041827,0.047008,0.047374,0.061866,0.035923,0.009757,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
30,2020-03-20,0.058655,0.070000,0.051825,0.039193,0.051471,0.059854,0.058260,0.025498,0.011712,...,0.005584,0.005476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
31,2020-06-19,0.067657,0.070000,0.053097,0.036169,0.052058,0.056901,0.058155,0.030274,0.013202,...,0.004544,0.005799,0.005337,0.004993,NaN,NaN,NaN,NaN,NaN,2020
32,2020-09-18,0.070000,0.070000,0.054201,0.036390,0.041100,0.052411,0.054310,0.035523,0.011592,...,0.004604,0.005947,0.004892,0.005291,NaN,NaN,NaN,NaN,NaN,2020
33,2020-12-18,0.067645,0.070000,0.054245,0.040300,0.032707,0.048753,0.055975,0.042454,0.012631,...,NaN,0.005042,0.007316,0.005151,NaN,NaN,NaN,NaN,NaN,2020
34,2021-03-19,0.070000,0.070000,0.070000,0.040196,0.032797,0.048963,0.055506,0.049021,0.013701,...,NaN,NaN,0.006850,NaN,0.007790,0.00639,NaN,NaN,NaN,2021
35,2021-06-18,0.067745,0.070000,0.070000,0.035318,0.030917,0.049747,0.053361,0.049162,0.013468,...,NaN,NaN,0.008476,NaN,0.008240,0.00468,NaN,NaN,NaN,2021
36,2021-09-17,0.070000,0.070000,0.068837,0.033787,0.025800,0.047939,0.045590,0.044042,0.013165,...,NaN,NaN,0.008682,0.004648,0.008460,NaN,0.004213,NaN,NaN,2021
37,2021-12-27,0.070000,0.070000,0.066827,0.032907,0.026950,0.047233,0.049451,0.043677,0.013591,...,NaN,NaN,0.006847,0.004544,0.009457,NaN,NaN,NaN,NaN,2021
38,2022-03-18,0.070000,0.070000,0.062832,0.032438,0.036846,0.054001,0.056238,0.043546,0.014724,...,NaN,NaN,NaN,NaN,0.010745,NaN,NaN,NaN,NaN,2022
39,2022-06-17,0.065911,0.070000,0.061640,0.031042,0.045828,0.067270,0.056004,0.049459,0.014511,...,NaN,NaN,NaN,NaN,0.010493,NaN,NaN,NaN,NaN,2022
40,2022-09-23,0.067094,0.070000,0.068459,0.029388,0.039233,0.070000,0.055186,0.046290,0.014213,...,NaN,NaN,NaN,0.003660,0.010871,NaN,NaN,NaN,NaN,2022
41,2022-12-23,0.070000,0.070000,0.046191,0.028320,0.032605,0.064242,0.055593,0.044931,0.015102,...,NaN,NaN,NaN,NaN,0.011101,NaN,NaN,0.057309,0.003920,2022
42,2023-03-24,0.070000,0.070000,0.044115,0.026327,0.034924,0.069304,0.052989,0.047726,0.011323,...,NaN,NaN,NaN,NaN,0.010865,NaN,NaN,0.065736,NaN,2023
43,2023-06-23,0.070000,0.070000,0.044168,0.024092,0.031505,0.061498,0.053381,0.048929,0.011813,...,NaN,NaN,NaN,NaN,0.010734,NaN,NaN,0.062800,NaN,2023
44,2023-09-22,0.068404,0.070000,0.040079,0.024697,0.030053,0.065728,0.060060,0.046096,0.013210,...,NaN,NaN,0.003390,0.003605,0.011389,NaN,NaN,0.054300,NaN,2023
45,2023-12-22,0.070000,0.070000,0.037170,0.027563,0.020440,0.068990,0.060368,0.042410,0.016063,...,NaN,NaN,NaN,NaN,0.011919,NaN,NaN,0.046439,0.003883,2023

In [17]:
dax_50_esg_results = pd.DataFrame()
# Loop through each column (isin) in dax_index_composition (ignoring the 'date' and 'year' columns)
for isin in dax_50_esg_index_composition.columns.drop(['date', 'year']):
    # Check if each isin has non-NaN values
    for index, row in dax_50_esg_index_composition.iterrows():
        if pd.notna(row[isin]):
            year = row['year']
            # Filter esg_scores for the current isin and year
            dax_esg_sub = dax_50_esg_scores[(dax_50_esg_scores['isin'] == str(isin)) & (dax_50_esg_scores['year'] == int(year))]
            # Check if there are any ESG scores for the filtered subset
            if not dax_esg_sub.empty:
                # If no scores exist, append the check but indicate no scores
                dax_50_esg_result = pd.DataFrame({
                    'isin': isin,
                    'date': row['date'],
                    'year checked': year,
                    'has scores': True
                }, index=[0])
                dax_50_esg_results= pd.concat([dax_50_esg_results, dax_50_esg_result], axis=0)
            else:
                dax_50_esg_result = pd.DataFrame({
                    'isin': isin,
                    'date': row['date'],
                    'year checked': year,
                    'has scores': False
                }, index=[0])
                dax_50_esg_results= pd.concat([dax_50_esg_results, dax_50_esg_result], axis=0)

In [18]:
print(f"Number of needed annual reports over the reconstruction period: {dax_50_esg_index_composition.drop(columns=['date', 'year']).notna().sum().sum()}")
print(f"Number of companies that have annual report available when they are part of the index: {dax_50_esg_results['has scores'].sum()}")
print(f"Missing Reports: {dax_50_esg_index_composition.drop(columns=['date', 'year']).notna().sum().sum() - dax_50_esg_results['has scores'].sum()}")

Number of needed annual reports over the reconstruction period: 2300
Number of companies that have annual report available when they are part of the index: 2300
Missing Reports: 0

# Check which companies have missing reports

In [19]:
dax_missing_anual_reports = dax_50_esg_results[dax_50_esg_results["has scores"]==False]
dax_missing_anual_reports["isin"] = dax_missing_anual_reports.loc[:, "isin"]
dax_missing_anual_reports

Empty DataFrame
Columns: [isin, date, year checked, has scores]
Index: []